extends layout

block content

	input(id="hidName" type="hidden" value="#{name}")/
	input(id="hidBookNo" type="hidden" value="#{bookno}")/
	
	p #{path}
	
	ul
		each item in items
			li 
				if item.isFile
					<a class="list-file">#{item.name}</a>&nbsp;&nbsp;&nbsp;<a class="list-go-viewer">[Go Viewer]</a>
				else
					<a class="list-directory">#{item.name}</a>&nbsp;&nbsp;&nbsp;<a class="list-go-viewer">[Go Viewer]</a>
					